
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}
html{
    scroll-behavior: smooth;
}
body {
    transition: 1s;
}
.dark-mode {
    background-color: black;
    color: white;
}

/* all header common style */
.all-header1 {
    color: rgb(96, 96, 96);
    text-align: center;
    font-weight: 500;
    padding-top: 3.8rem;
}
.all-header2 {
    text-align: center;
    font-size: 4rem;
}

/* nav bar st */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 0 0;
}
.logo {
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: 500;
}
.navbar-ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar-ul li{
    list-style-type: none;
    margin: 0 1.5rem;
    
}
.navbar-list a{
    position: relative;
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-size: 1.3rem;
    font-weight: 500;
}
.navbar-list a::after {
    content: "";
    position: absolute;
    background-color: rgb(168, 168, 168);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
    border-radius: 50%;
}
.navbar-list a:hover::after{
    width: 100%;
    cursor: pointer;
}
.menu-icon {
    display: none;
}
/* nav bar end */

/* main section */
.light-control {
    text-align: end;
    padding: 1.5rem 4.2rem 0 0;
}
.light-control-darkmode {
    background-color: white;
    border: 2px solid rgb(168, 40, 40);
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.light-control-darkmode:hover {
    transform: scale(1.1);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.image-section {
    margin: 3rem;
}
.myimg{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
}
.main-desc{
    margin: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.desc-text-1{
    font-size: 1.2rem;
    color: rgb(95, 95, 95);
    font-weight: 700;
}
.desc-text-2 {
    font-size: 3rem;
    font-weight: 700;
}
.desc-text-3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(63, 63, 63);
}
.main-btn {
    border: 2px solid rgb(49, 49, 49);
    font-size: 1.1rem;
    font-weight: bold;
    width: 9.5rem;
    height: 3.5rem;
    padding: 10px;
    border-radius: 5rem;
    margin: 1rem 0.4rem;
    cursor: pointer;
    transition: 0.3s;
}
.btn1:hover {
    background-color: rgb(49, 49, 49);
    color: white;
}
.btn2 {
    background-color: rgb(49, 49, 49);
    color: white;

}
.btn2:hover{
    background-color: white;
    color: rgb(49, 49, 49);
}
.main-section-link {
    background-color: white;
    width: 40px;
    height: 40px;
    margin: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}
/* main section ed */

/* about me st */
.about {
    height: 100vh;
}
.about-banner img {
    width: 450px;
}
.about-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
}
.about-content {
    width: 40%;
}
.experience {
    border: 2px solid rgb(56, 56, 56);
    border-radius: 2rem;
    text-align: center;
    width: 60%;
    padding: 1.7rem 0.5rem;
}
.experience i {
    font-size: 1.8rem;
}
.experience h2 {
    font-size: 1.8rem;
}
.experience p {
    font-size: 1.1rem;
    font-weight: 450;
    color: rgb(37, 37, 37);
}
.about-desc-text {
    margin: 1.5rem 0;
    font-size: 1.1rem;
    color: rgb(37, 37, 37);

}
/* skills st */
.skills {
    height: 100vh;
}
.skills-content-header {
    text-align: center;
    font-size: 2rem;
    color: rgb(122, 122, 122);
}
.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.skill-card {
    display: flex;
    margin: 1rem;
    align-items: center;
    font-size: 0.8rem;
}
.skills-details {
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
.skills-content {
    text-align: center;
    padding: 2rem;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 40px;
    width: 700px;
}
.skill-card img {
    background-color: white;
    border-radius: 10px;
    width: 30px;
    margin-right: 1rem;
}
/* skills ed */


/* projects st */
.projects-container {
    text-align: center;
}
.project-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.project-card {
    width: 400px;
    border: 2px solid rgb(114, 114, 114);
    margin: 1rem;
    border-radius: 30px;
}
.project-card img {
    width: 350px;
    border-radius: 20px;
    margin-top: 1.5rem;
}
.project-card h1 {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2rem;
}
.project-btn {
    margin: 2rem 0.5rem 3rem 0.5rem;
}
/* projects ed */

/* contact st */
.contact {
    padding-top: 4rem;
}
.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.contact-links a {
    text-decoration: none;
    padding: 1rem;
    color: rgb(93, 93, 93);
    font-weight: 500;
    font-size: 1.3rem;
    transition: 0.3s;
}
.contact-links a:hover {
    color: rgb(209, 109, 22);
}
/* contact ed */

/* footer */
.copyright-text {
    text-align: center;
    padding: 0 0 2.5rem 0;
}





/* responsive */
@media (max-width: 768px) {
    .all-header1 {
    padding-top: 3rem;
}
/* nav bar st */
.menu-icon {
    display: flex;
    font-size: 2rem;
}
.navbar-ul{
    display: flex;
    position: absolute;
    height: 250px;
    width: 200px;
    top: 6rem;
    border-radius: 10px;
    right: 5.5rem;
    overflow: hidden;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(10px);
    transition: 0.8s;
}
.navbar-ul li{
    margin: 1rem;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.navbar-list a{
    color: rgb(0, 0, 0);
}
/* nav bar end */

/* main section */
.light-control {
    padding: 1.5rem 5.5rem 0 0;
}
.light-control-darkmode {
    transition: 0.3s;
}
.light-control-darkmode:hover {
    transform: scale(1.1);
}
.container {
    flex-direction: column;
    height: auto;
}
.image-section {
    margin-top: 5rem;
    margin-bottom: 0;
}
.myimg{
    width: 200px;
    height: 200px;
}
.main-desc{
    margin: 3rem;
}

.desc-text-1{
    font-size: 1.3rem;
}
.desc-text-2 {
    font-size: 3rem;
}
.desc-text-3 {
    font-size: 2.5rem;
}
/* main section ed */

/* about me st */
.about {
    height: auto;
}
.about-banner img {
    margin-bottom: 1rem;
    width: 250px;
}
.experience {
    margin: 0 auto;
    width: 80%;
}
.about-section {
    flex-direction: column;
    margin-top: 2rem;
}
.about-content {
    width: 80%;
}
.about-desc-text {
    font-size: 1.3rem;
    text-align: center;
}
/* skills */
.skills {
    margin-top: 0;
}
.skills-content {
    padding: 0.5rem;
    width: 95%;
}

/* projects st */
.project-content {
    margin-top: 2rem;
}
/* projects ed */
.contact {
    margin-top: 1rem;
}
.contact-links {
    margin: 2rem 0;
    flex-wrap: wrap;
}
}

@media (max-width:400px) {
.all-header1 {
    font-size: 1.1rem;
}
.all-header2 {
    font-size: 3rem;
}
/* nav bar st */
.menu-icon {
    display: flex;
    margin-right: 0;
    font-size: 2rem;
}
.navbar-ul{
    display: flex;
    position: absolute;
    height: 250px;
    width: 200px;
    top: 6rem;
    border-radius: 10px;
    right: 1rem;
    overflow: hidden;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(10px);
    transition: 0.8s;
}
.navbar-ul li{
    margin: 1rem;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.navbar-list a{
    color: rgb(0, 0, 0);
}
/* nav bar end */

/* main section */
.light-control {
    padding: 1.5rem 2rem 0 0;
}
.light-control-darkmode {
    transition: 0.3s;
}
.light-control-darkmode:hover {
    transform: scale(1);
}
.container {
    flex-direction: column;
    height: auto;
}
.image-section {
    margin: 3rem 0 1rem 0;
}
.myimg{
    width: 150px;
    height: 150px;
}
.main-desc{
    margin: 0 0 3rem 0;
}

.desc-text-1{
    font-size: 1.2rem;
}
.desc-text-2 {
    font-size: 2.6rem;
}
.desc-text-3 {
    font-size: 2.2rem;
}

.main-section-link {
    width: 45px;
    height: auto;
}
 .main-btn {
    padding: 5px;
    font-size: 1.1rem;
    width: 9rem;
    height: 3rem;
    }

/* main section ed */

/* about me st */
.about {
    height: auto;
}
.about-banner img {
    width: 200px;
}
.about-section {
    flex-direction: column;
}
.about-content {
    width: 80%;
}
.experience {
    width: 80%;
}
.about-desc-text {
    font-size: 1.2rem;
}
/* skills st */
.skills {
    height: auto;
}
.skills-content-header {
    font-size: 1.8rem;
    margin-top: 1rem;
}
.skill-card {
    margin: 0.8rem;
}
.skills-details {
    gap: 0.8rem;
}
.skills-content {
    padding: 0.5rem;
    width: 95%;
}
.skill-card img {
    margin-right: 0.5rem;
}
/* skills ed */


/* projects st */
.project-card {
    width: 95%;
}
.project-card img {
    width: 90%;
}
.project-btn {
    margin: 2rem 0.3rem 3rem 0.3rem;
}
/* projects ed */

/* contact st */
.contact-links {
    flex-wrap: wrap;
}
/* contact ed */

}

@media (max-width: 350px) {
    .navbar-ul{
    top: 5rem;
}
   
.logo {
    font-size: 1.8rem;
}
    /* main section */
.desc-text-2 {
    font-size: 2.4rem;
}
.desc-text-3 {
    font-size: 2rem;
}
 .main-btn {
    padding: 0px;
    font-size: 1.rem;
    width: 8rem;
    height: 3rem;
    }
.main-section-link {
    width: 40px;
}
/* main section ed */
    /* skills st */

.skill-card {
    margin: 0.1rem;
    font-size: 0.5rem;
}
.skills-details {
    gap: 0.8rem;
}
.skills-content {
    padding: 1rem 1rem;
    width: 95%;
}
.skill-card img {
    margin-right: 0.5rem;
    width: 20px;
}
    /* skills ed */
.about-banner img {
    width: 200px;
    margin-bottom: 1rem;
}
}

/* adjust light */
.navbar-border {
   border : 2px solid rgb(255, 255, 255) !important;

}
.color{
    color: rgb(255, 255, 255) !important;
}
.color1{
    color: rgb(183, 122, 75) !important;

}